@model BankOfFiji01.Models.TransferViewModel
@{
    ViewBag.Title = "Transfer to Another Customer";
}

@if (TempData["Success"] != null)
{
    <div class="callout callout-success">
        <p><strong>Success:</strong> @TempData["Success"].ToString()</p>
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="callout callout-danger">
        <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
    </div>
}

@using (Html.BeginForm("TransferAnotherAccount", "Transaction", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-2">Enter the Amount: $</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Trans_Amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Trans_Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Select the Account to transfer money from: </label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Acc_ID, Model.MyAccountsSelectListItem, new { style = "width: 500px;", id = "TransferFrom" })
                @Html.ValidationMessageFor(model => model.MyAccountsSelectListItem, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Select the Account to transfer money to: </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TransferAcc_ID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MyOtherAccounts, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-2">
                <input type="submit" id="Transfer" name="Transfer" value="Transfer" class="btn btn-success btn-block">
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

