@using BankOfFiji01.Controllers
<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Menu *@
        @if ((Convert.ToInt32(Session["Role"]) == 1002))
        {
            <ul class="sidebar-menu">
                <li class="header">Menu</li>
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == nameof(DashboardController.Home) ? "active" : "")">
                    <a href="@Url.Action("Admin", "Dashboard")"><i class="fa fa-home"></i> <span>Dashboard</span></a>
                </li>

                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == nameof(DashboardController.Home) ? "active" : "")">
                    <a href="@Url.Action("Notifications", "Dashboard")"><i class="fa fa-home"></i> <span>Notification Settings</span></a>
                </li>

                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == nameof(TransactionController.BankStatement) ? "active" : "")">
                    <a href="@Url.Action("NetIncome", "Transaction")"><i class="fa fa-link"></i> <span>Net Income</span></a>
                </li>
            </ul>

            <ul class="sidebar-menu">
                <li class="header">FIRCA</li>
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == nameof(TransactionController.BankStatement) ? "active" : "")">
                    <a href="@Url.Action("FIRCA", "Transaction")"><i class="fa fa-link"></i> <span>FIRCA Statement</span></a>
                </li>
            </ul>
        }
        else
        {
            <ul class="sidebar-menu">
                <li class="header">Menu</li>
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == nameof(DashboardController.Home) ? "active" : "")">
                    <a href="@Url.Action("Home", "Dashboard")"><i class="fa fa-home"></i> <span>Dashboard</span></a>
                </li>

                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == nameof(TransactionController.BankStatement) ? "active" : "")">
                    <a href="@Url.Action("BankStatement", "Transaction")"><i class="fa fa-link"></i> <span>Bank Statement</span></a>
                </li>

            </ul>
            <ul class="sidebar-menu">
                <li class="header">Transfers</li>
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == nameof(TransactionController.Transfer) ? "active" : "")">
                    <a href="@Url.Action("Transfer", "Transaction")"><i class="fa fa-arrow-circle-down"></i> <span>Transfers To Your Accounts</span></a>
                </li>

                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == nameof(TransactionController.Transfer) ? "active" : "")">
                    <a href="@Url.Action("AutoTransfer", "Transaction")"><i class="fa fa-arrow-circle-down"></i> <span>Auto Transfers To Your Accounts</span></a>
                </li>

                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == nameof(TransactionController.TransferAnotherAccount) ? "active" : "")">
                    <a href="@Url.Action("TransferAnotherAccount", "Transaction")"><i class="fa fa-arrow-circle-down"></i> <span>Transfers To Another Customer</span></a>
                </li>

                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == nameof(TransactionController.TransferAnotherAccount) ? "active" : "")">
                    <a href="@Url.Action("AutoTransferAnotherAccount", "Transaction")"><i class="fa fa-arrow-circle-down"></i> <span>Auto Transfers To Another Customer</span></a>
                </li>
            </ul>
            <ul class="sidebar-menu">
                <li class="header">Bill Payments</li>
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == nameof(BillPaymentsController.BillPayment) ? "active" : "")">
                    <a href="@Url.Action("BillPayment", "BillPayments")"><i class="fa fa-link"></i> <span>Manual Bill Payment</span></a>
                </li>
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == nameof(BillPaymentsController.BillPayment) ? "active" : "")">
                    <a href="@Url.Action("AutoBillPayment", "BillPayments")"><i class="fa fa-link"></i> <span>Automatic Bill Payment</span></a>
                </li>
            </ul>
            <ul class="sidebar-menu">
                <li class="header">Loan Application</li>
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == nameof(LoansApplicationController.LoanApplication) ? "active" : "")">
                    <a href="@Url.Action("LoanApplication", "LoansApplication")"><i class="fa fa-link"></i> <span>Apply Loan</span></a>
                </li>

            </ul>
        }
        

            @* END Menu *@
</section>
</aside>