@model BankOfFiji01.Models.UserDetails

@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<section>
    <div class="row" width="100">
        <div class="col-xs-12" width="100">
            <div class="box box-success" width="100">
                <div class="box-header">
                    <h3 class="box-title">User Details</h3>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table">
                        <thead class="thead-default">
                            <tr>
                                <th>Cusotmer Name</th>
                                <th>Customer ID</th>
                                <th>Date of Birth</th>
                                <th>FNPF Number</th>
                                <th>Residential Status</th>
                                <th>Home Address</th>
                                <th>Postal Address</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@String.Concat(Model.FirstName + " " + Model.LastName)</td>
                                <td>@Model.CustomerID</td>
                                <td>@Model.DOB</td>
                                <td>@Model.FNPFNumber</td>
                                <td>@Model.ResidentialStatus</td>
                                <td>@Model.HomeAddress</td>
                                <td>@Model.PostalAddress</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="row" width="100">
        <div class="col-xs-12" width="100">
            <div class="box box-info" width="100">
                <div class="box-header">
                    <h3 class="box-title">User Accounts</h3>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table">
                        <tr>
                            <th>
                                Account Number
                            </th>
                            <th>
                                Owned By
                            </th>
                            <th>
                                Account Type
                            </th>
                            <th>
                                Account Status
                            </th>
                            <th>
                                Account Balance
                            </th>
                            <th>
                                Total Interest
                            </th>
                        </tr>

                        @foreach (var item in Model.AccountList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ID)
                                </td>
                                <td>
                                    @String.Concat(Model.FirstName + " " + Model.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Type)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AccountStatus)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AccountBalance)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalInterest)
                                </td>
                            </tr>
                        }

                    </table>

                </div>
            </div>
        </div>
    </div>
</section>

