@model IEnumerable<BankOfFiji01.Models.Notification>

@{
    ViewBag.Title = "Notifications";
}

<h2>Notifications</h2>

@if (TempData["Success"] != null)
{
    <div class="callout callout-success">
        <p><strong>Success:</strong> @TempData["Success"].ToString()</p>
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="callout callout-danger">
        <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NotificationType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NotificationStatus)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NotificationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotificationStatus)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditNotification", new { id = item.NotificationID })
            </td>
        </tr>
    }

</table>